doctype html
html
	head
		callback
		link(href='css/comon.css', rel='stylesheet')
	body(style="text-align: center")
		h1 The callback
		each value, key in json
			h4=key
			p=value
	script.
		setTimeout(function () {
			console.log('rtsp://ec2-35-158-50-123.eu-central-1.compute.amazonaws.com:8554/desktop');
		}, 5000);