doctype html
html
    head
        link(href='css/comon.css', rel='stylesheet')
        title Please log in
    body(style="text-align: center")
        img(src='img/flat-avatar.png')
        h1 GameStreaming
        if error
            p.
                #{error}
        form(action="",method="POST")
            table(style="margin: 0 auto;")
                tr
                    td
                        input(class="anders input-underline input-lg " type="email",name="email",placeholder="Email")
                tr
                    td
                        input(class="anders input-underline input-lg " type="password",name="password" , placeholder="Password")
            input(type="hidden",name="challenge",value=challenge)
            input(type="submit", class="button",value="Log in", style="margin: 40px;")
            p.
                (it's "#{user.password}")
                (it's "#{user.email}")